{
  "app_name": "🐈 Pastey",
  "charset": "UTF-8",
  "serializer": "JSON",
  "path": "/icyavocado/pastey",
  "base_url": "https://pastey.ovacoda.com",
  "error_name": "pastey",
  "port": 8080,
  "workers": 5,
  "plugins": {
    "DBIC": {
      "default": {
        "dsn": "dbi:SQLite:dbname=/icyavocado/pastey/database/pastey_bin.sqlite",
        "schema_class": "Pastey::Schema"
      }
    }
  }
}
