<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="<% settings.charset %>">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <title><% title %></title>
  <script src="<% request.uri_base %>/javascripts/codemirror.js"></script>
  <link rel="stylesheet" href="<% request.uri_base %>/css/codemirror.css">
  <link rel="stylesheet" href="<% request.uri_base %>/css/blackboard.css">
  <link rel="stylesheet" href="<% request.uri_base %>/css/style.css">
</head>
<body>
<% content %>
</body>
</html>
