<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="<% settings.charset %>">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <title><% title %></title>
  <script src="<% request.uri_base %>/javascripts/codemirror.js"></script>
  <link rel="stylesheet" href="<% request.uri_base %>/css/codemirror.css">
  <link rel="stylesheet" href="<% request.uri_base %>/css/blackboard.css">
  <link rel="stylesheet"
      href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.13.1/build/styles/default.min.css">
  <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.13.1/build/highlight.min.js"></script>
  <link rel="stylesheet" href="<% request.uri_base %>/fonts/fira_code.css">
  <link rel="stylesheet" href="<% request.uri_base %>/css/style.css">
  <link rel="stylesheet" href="<% request.uri_base %>/css/main.css">
</head>
<body>
  <div id="app">
    <% content %>
  </div>
</body>
</html>
