<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="<% settings.charset %>">
  <meta property="og:site_name" content="🐈 Pastey"/>
  <meta property="og:title" content="Pastey is an open-source pastebin written in Perl/Dancer and VueJS with minimal CSS."/>
  <meta property="og:description" content="Whether it is for writting your life long love letter or just a non tracable note to your partner in crime. Pastey will always be there for you. Working"/>
  <meta property="og:image" content="/images/mirror.png">
  <meta property="og:url" content="https://pastey.ovacoda.com/">
  <meta property="og:type" content="technology"/>
  <!-- Twitter -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="🐈 Pastey" />
  <meta name="twitter:title" content="Pastey is an open-source pastebin written in Perl/Dancer and VueJS with minimal CSS." />
  <meta name="twitter:description" content="Whether it is for writting your life long love letter or just a non tracable note to your partner in crime. Pastey will always be there for you. Working" />
  <meta name="twitter:image" content="/images/mirror.png" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">

  <title><% title %></title>
  <script src="/javascripts/codemirror.js"></script>
  <link rel="stylesheet" href="/css/codemirror.css">
  <link rel="stylesheet" href="/css/blackboard.css">
  <link rel="stylesheet" href="/fonts/fira_code.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <div id="app">
    <% content %>
  </div>
</body>
</html>
