<style>
body {
  min-width: 100vw;
  width: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}
.CodeMirror {
  min-width: 100vw;
  width: 100%;
  min-height: 100vh;
}
</style>

<% INCLUDE 'templates/header.tt' %>
<div id="app"></div>
<% INCLUDE 'templates/footer.tt' %>

