<header>
  <h1 style="color: white"><a href="/about">[ 🐈 Pastey ]</a></h1>
  <div><a @click="onSave">[ Save ]</a></div>
  <div><a @click="onCreate">[ New ]</a></div>
  <div><a @click="onDupandEdit">[ Duplicate & Edit ]</a></div>
  <div><a @click="getTextOnly">[ Raw Text ]</a></div>
</header>