<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UFT-8">
  <meta property="og:site_name" content="<%= htmlWebpackPlugin.options.title %>"/>
  <meta property="og:title" content="<%= htmlWebpackPlugin.options.title %> is an open-source pastebin written in Perl/Dancer and VueJS with minimal CSS."/>
  <meta property="og:description" content="Whether it is for writting your life long love letter or just a non tracable note to your partner in crime. <%= htmlWebpackPlugin.options.title %> will always be there for you. Working."/>
  <meta property="og:image" content="<%= htmlWebpackPlugin.options.baseUrl %>/images/twitter-logo.png">
  <meta property="og:url" content="<%= htmlWebpackPlugin.options.baseUrl %>">
  <meta property="og:type" content="technology"/>
  <!-- Twitter -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="<%= htmlWebpackPlugin.options.title %>" />
  <meta name="twitter:title" content="<%= htmlWebpackPlugin.options.title %> is an open-source pastebin written in Perl/Dancer and VueJS with minimal CSS." />
  <meta name="twitter:description" content="Whether it is for writting your life long love letter or just a non tracable note to your partner in crime. Pastey will always be there for you. Working." />
  <meta name="twitter:image" content="<%= htmlWebpackPlugin.options.baseUrl %>/images/twitter-logo.png" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">

  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
  <div id="app">
  </div>
</body>
</html>
